<% var title = page && page.title ? "Cee Architects:" +page.title : "Cee Architects" %>
<% include head.ejs %>
<% include menu.ejs %>

<div id="logo"></div>
<div class="slides">
<div class="images">
   <% if (page.resources && page.resources.length != 0) { %>
        <!-- <img src="<%=resource_basepath%>/w_50,h_50,c_fit/<%= page.resources[0].meta.public_id%>.jpg"/><br> -->
   <% }%>
</div>
<div class="info"><% if (page.resources && page.resources.length != 0) { %><%- page.resources[0].description %><% }%></div>
<div class="text">
    <%- page.description %>
</div>
</div>
<script>
    var app = new janecee.application();
</script>

<% include foot.ejs %>














