<% include ../head %>

<script src="/js/util.js"></script>
<script src="/js/layers.js"></script>
<script src="/js/form.js"></script>
<script src="/js/browse.js"></script>
<script src="/js/app.js"></script>

<script src="/js/lib/ck/ckeditor.js"></script>
<script src="/js/lib/codemirror.js"></script>
<script src="/js/lib/jquery.fileupload.js"></script>
<script src="/js/lib/jquery.iframe-transport.js"></script>

<link href="/css/upload.css" rel="stylesheet">
<link href="/css/codemirror.css" rel="stylesheet">

<% include ../head1 %>
<% include ../nav %>

<div class="padded">
   <div id="browser"></div>
</div>

<script>

    var ctrlKeyDown;
    $(window).keydown(function (e){
        ctrlKeyDown = e.ctrlKey || e.altKey || e.shiftKey || e.metaKey;
    }).keyup(function(e){
        ctrlKeyDown = e.ctrlKey || e.altKey || e.shiftKey || e.metaKey;
    });


    var layers = new layers_layers();
    function add_root_browser(type)
    {
        var browser = new browse_browse(type);
        browser.add_listener('select', function (f, r) {
            if (ctrlKeyDown)
            {
                var url = '/cms/update/' + type + '/' + r._id;
                var win = window.open(url, ctrlKeyDown ? '_blank' : '_self');
                win.focus();
            }
            else
            {
                var ff = form(type, r._id);
                ff.add_listener('close', function (e, r) {
                   layers.pop_layer();
                });
            }
        });
        layers.add_layer(browser, '/cms/browse/<%= type %>');
    }

    var type = "<%= type %>";
    window.addEventListener("popstate", function(e) {
        var s = e.state ? e.state : location.pathname;
        if (layers.is_empty())
        {
            add_root_browser(type);
        }
        else if (layers.find(s) != -1)
        {
            layers.pop_to(s);
        }
        else
        {
            layers.clear_layers();
            var p = s.split('/');
            if (p[1] == 'browse')
                add_root_browser(p[2])
            else if (p[1] == 'create')
                form(p[2])
            else if (p[1] == 'update')
                form(p[2], p[3]);
        }
    });




    $(document).ready(function () {
        $("#browser").append(layers.$el());
    });


</script>

<% include ../foot %>










