<% include ../head %>
<% include ../head1 %>
<% include ../nav %>

<div class="list">

    <%= JSON.stringify(browser) %>

    <a href='/cms/create/<%=model%>'>Create <%= model %></a><br>

</div>

<% include ../foot %>


