<% include ../head %>

<script src="/js/util.js"></script>
<script src="/js/browse.js"></script>

<% include ../head1 %>
<% include ../nav %>

<div class="padded">
   <div id="browser">
    </div>
    <a href='/cms/create/<%=type%>'>Create <%= type %></a><br>
</div>

<script>
$(document).ready(function(){
    var browser = new browse_browse("<%= type %>", {});
    $("#browser").append(browser.$el());
});
</script>

<% include ../foot %>










