<% include ../head %>
<% include head %>
<% include ../head1 %>
<% include ../nav %>

<div id="browser"></div>

<script>
$(document).ready(function () {
    var cms = init_cms();
    $("#browser").append(cms.$el());
});
</script>

<% include ../foot %>










