<% include ../head %>

<script src="/js/util.js"></script>
<script src="/js/browse.js"></script>

<% include ../head1 %>
<% include ../nav %>

<div class="padded">
   <div id="browser"></div>
   <a href='/cms/create/<%= type %>'>Create <%= type %></a><br>
</div>

<script>
$(document).ready(function(){
    var browser = new browse_browse("<%= type %>");
    var ctrlKeyDown;
    $(window).keydown(function (e){
        ctrlKeyDown = e.ctrlKey || e.altKey || e.shiftKey || e.metaKey;
    }).keyup(function(e){
        ctrlKeyDown = e.ctrlKey || e.altKey || e.shiftKey || e.metaKey;
    });
    browser.add_listener('select', function (f, r) {
        var url = '/cms/update/<%= type %>/' + r._id;
        var win = window.open(url, ctrlKeyDown ? '_blank' : '_self');
        win.focus();
    });
    $("#browser").append(browser.$el());
});
</script>

<% include ../foot %>










