<% include ../head %>

<script src="/js/util.js"></script>
<script src="/js/form.js"></script>
<script src="/js/lib/ck/ckeditor.js"></script>
<script src="/js/lib/codemirror.js"></script>
<script src="/js/lib/jquery.fileupload.js"></script>
<script src="/js/lib/jquery.iframe-transport.js"></script>

<link  href="/css/form.css" rel="stylesheet">
<link  href="/css/upload.css" rel="stylesheet">
<link  href="/css/codemirror.css" rel="stylesheet">


<% include ../head1 %>
<% include ../nav %>

<div class="padded">
    <div id="workspace" class="group root"></div>
</div>

<script>
$(document).ready(function(){
    var form = new form_form("<%=type%>");
    form.init("<%=id%>");
    $("#workspace").append(form.$el());
});
</script>

<% include ../foot %>










