<% include ../head %>

<script src="/js/util.js"></script>
<script src="/js/layers.js"></script>
<script src="/js/form.js"></script>
<script src="/js/browse.js"></script>
<script src="/js/app.js"></script>

<script src="/js/lib/ck/ckeditor.js"></script>
<script src="/js/lib/codemirror.js"></script>
<script src="/js/lib/jquery.fileupload.js"></script>
<script src="/js/lib/jquery.iframe-transport.js"></script>

<link href="/css/upload.css" rel="stylesheet">
<link href="/css/codemirror.css" rel="stylesheet">


<% include ../head1 %>
<% include ../nav %>

<div class="padded">
    <div id="workspace"></div>
</div>

<script>
    var layers = new layers_layers();
    var form_stack = [];
    var root_form = form("<%=type%>");
    root_form.init(<% if (id) { %>"<%=id%>"<% } %>);
    root_form.add_listener('close', function (e, r) {
       confirm('really delete?');
        //todo form.delete();
    });


    $(document).ready(function () {
        $("#workspace").append(layers.$el());
    });
</script>

<% include ../foot %>










