<% include ../head %>
<% include head %>
<% include ../head1 %>
<% include ../nav %>

<div class="padded">
    <div id="workspace"></div>
</div>

<script>
    var layers = new layers_layers();
    var root_form = form("<%=type%>"<% if (id) { %>, "<%=id%>"<% } %>);
    root_form.add_listener('close', function (e, r) {
       confirm('really delete?');
        //todo form.delete();
    });


    $(document).ready(function () {
        $("#workspace").append(layers.$el());
    });
</script>

<% include ../foot %>










