<% include ../head %>

<script src="/js/util.js"></script>
<script src="/js/form.js"></script>
<script src="/js/lib/ck/ckeditor.js"></script>
<script src="/js/lib/codemirror.js"></script>
<script src="/js/lib/jquery.fileupload.js"></script>
<script src="/js/lib/jquery.iframe-transport.js"></script>

<link  href="/css/form.css" rel="stylesheet">
<link  href="/css/upload.css" rel="stylesheet">
<link  href="/css/codemirror.css" rel="stylesheet">


<% include ../head1 %>
<% include ../nav %>

<div class="padded">
    <button id="save">SAVE</button>
    <button id="delete">DELETE</button>
   <div id="workspace-root">
        <form method="post">
        <div id="workspace" class="group root"></div>
        </form>
    </div>
</div>

<script>
$(document).ready(function(){
    var form = new form_form( $("#workspace"), <%- JSON.stringify(form) %> );
   // form.data(<%- JSON.stringify(object) %>);
    $("#save").click(function(){
        console.log(f.data());
        $.ajax({
            data: { val: JSON.stringify(f.data()) },
            method: 'post',
            success: function(o){
                if (location.pathname != o)
                    location.href = o;
            },
            error: function(o){
                console.error(o);
            }
        })
    });
});
</script>

<% include ../foot %>










