/* Style tweaks */
html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    background-color: #fff;
    padding:40px 20px 40px 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 font-family: sans-serif;
    font-size:14px;
    color:#777;
}

input {
    border: 1px solid #aaa;
    padding: 5px;
    font-size: 19px;
}

h1 {
    font-size:48px;
    font-weight: normal;
    margin: 0;
}




.padded {
    padding: 10px;
}


a {
    color:#5383cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul { list-style-type: none; }



label {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: normal;

    padding: 26px 8px 8px 0;
    display:block;
}



#tool-bar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:30px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #ccc;
    z-index: 100000;
}
.options {
    padding: 6px 0 0 20px;
}
.user {
    position: fixed;
    top: 6px;
    right: 28px;
}






button {

}
.progress { width: 100%; height: 40px; background-color: #999;}
.progress .bar {
    background-color: #222;
    height: 100%;
}