<div id="tool-bar">
<% if (user) { %>
    <div class="options">
    <a href='/cms'><i class="fa fa-home"></i></a>
        <span id="extra-options"></span>
    </div>
    <div class="user">
    You are logged in as <%-user.email%> <a href='/user/<%- user._id %>'>Profile</a> <a href='/logout'>Logout</a>
    </div>
<% } else { %>
    <a href='/login'>Login</a> <a href='/register'>Register</a>
<% } %>

</div>

<% if (message) { %>
<div id="message">
    <%- message %>
</div>
<% } %>